ODIN_SSH_HOST=23.158.72.30
ODIN_SSH_PORT=22
ODIN_SSH_USERNAME=root
ODIN_SSH_PASSWORD=change-me
ODIN_DB_HOST=23.158.72.30
ODIN_DB_PORT=7999
ODIN_DB_NAME=xtream_iptvpro
ODIN_DB_USERNAME=user_iptvpro
ODIN_DB_PASSWORD=change-me
ODIN_API_TOKEN=change-me
